.chakra-switch__track {
    background-color: rgb(30, 29, 29) !important;
}



.chakra-switch__track[data-checked] {
    background-color: rgb(180, 241, 255) !important;
}

.chakra-switch__track[data-checked] span {
    background-color: rgb(235, 204, 7);
}



.photos {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sociallink:hover {
    color: rgb(72, 117, 180) !important;
}

.socialgit:hover {
    color: rgb(33, 31, 31) !important;
}

.socialmed:hover {
    color: rgb(18, 16, 14) !important;
}

.socialstack:hover {
    color: rgb(244, 128, 36) !important;
}

.socialmail:hover {
    color: rgb(212, 70, 56) !important;
}

.socialwhat:hover {
    color: rgb(37, 211, 102) !important;
}

.socialtelg:hover {
    color: rgb(0, 136, 204) !important;
}

.socialtwit:hover {
    color: rgb(29, 161, 242) !important;
}

.socialface:hover {
    color: rgb(24, 119, 242) !important;
}

.gitlink {
    color: #8695a5;
}

.gitlink:hover {
    text-decoration: underline !important;
    color: #6e7b89;

}

.temp {
    position: absolute;
    top: 0;
    left: 80px;
    color: rgb(255, 249, 79);
}

.desc {
    margin-top: -20px;


}